<div>
    @Prop
    <div>
        @count
        <button class="btn-increment-node" @onclick="increment">Update leaf</button>
    </div>        
    <span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span><span>-</span>

    @if(SubtreeDepth > 0) {
        @for(int i = 0; i < BranchingFactor; i += 1) {
            <Scen5Node SubtreeDepth="@getSubtreeDepth()" BranchingFactor="@BranchingFactor" Prop="@Prop" />
        }        
    }

  </div>

@code {
    [Parameter]
    public int BranchingFactor { get; set; }

    [Parameter]
    public int SubtreeDepth { get; set; }
    [Parameter]
    public int Prop { get; set; }

    int count = 0;

    public void increment() {
        count += 1;
    }

    public int getSubtreeDepth() {
        return SubtreeDepth - 1;
    }


}